body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #274C77;
}
.interface {
  background-color:#FFFFFF;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.btn {
  border: none;
  background-color:#78A1BB;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color:#8A4FFF;
}

.btnC {
  border: none;
  background-color:#78A1BB;
  border-radius: 90px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 16px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

.btnC:hover {
  background-color:#8A4FFF);
}

.result {
  font-size: 30px;
}
